html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.8em;
  font-family: "Lato", sans-serif;
}
.head1,
.head2,
.head3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.head1 {
  background-image: url(../ASSIGNMENT_7/IMAGE/image1.png);
  height: 100%;
}
.head2 {
  background-image: url(../ASSIGNMENT_7/IMAGE/image2.png);
  min-height: 600px;
}
.head3 {
  background-image: url(../ASSIGNMENT_7/IMAGE/image3.png);
  min-height: 600px;
}
.head_text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.head {
  background-color: rgb(49, 53, 52);
  color: white;
  padding: 15px;
  border-radius: 20px 0;
}
.section {
  padding: 50px 80px;
  text-align: center;
}
.section_dark {
  background-color: rgb(49, 53, 52);
  color: white;
}
